[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "~=1.23"
pandas = "*"
scikit-learn = "*"
matplotlib = "*"
xgboost = "*"
lightgbm = "*"
notebook = "*"
optuna = "*"
plotly = "*"
shap = "*"

[dev-packages]
mypy = "*"
black = "*"
flake8 = "*"
ruff = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.4"
